doctype html
html
  head
    title Express Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a(href="/").navbar-brand Express Blog
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/new")
                span.glyphicon.glyphicon-edit
    .container
      block content

    .container
      p.copyright &copy; Copyright 2017 [CodeGym] (http://codegym.vn)
